// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


section#banner{
  color: white;
  background-image: url("banner.jpg");
   height: 600px;
  //  width:100vw;
   background-attachment: fixed;
   background-attachment: -webkit-fixed;

   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

  div#intro{
    overflow-x: hidden;
    height: 600px;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    p{text-align: center;
      line-height: 120%;
      margin-left: 5vw;
      font-size: 2.6em;
      border-bottom: 5px solid #44c7f4;
    }
    q:before,q:after{content:''}
    q{
      line-height: 100%;
      span{
        font-size: 10px;

      }
      font-size: 2.0vw;
      width: 30vw;
      border-bottom: 2px solid #44c7f4;

    }
  }
  img{
    width:16vw;
    height: 16vw;
    margin-top: 0;
    // margin-left: 45vw;
    // margin-right:45vw;
    border-radius:50%;
  }

}


section#experience{
  background-image: url("port.jpg");
  //  height: 850px;
  //  width:100vw;
   background-attachment: fixed;
   background-attachment:-webkit-fixed;

   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   padding-top: 100px;
   h1{
     width:100%;
     text-align: center;
     color:white;
   }
   div{
     padding-left: 40px;
     width:40vw;

     h2{
       font-size: 20px;
       font-weight: bold;
       color: #44c7f4;
     }
     ul{
       h3{
         transition: 0.08s ease-out;
        //  color:white;
         margin-bottom: 0px;
         text-decoration: underline;
        //  a:link, a:visited{
        //    transition: 0.08s ease-out;
        //    color:white;
        //    text-decoration: none;
        //  }
        //  a:hover{
        //    transition: 0.08s ease-out;
        //    color:lightblue;
        //  }

       }
       h3:hover{
         transition: 0.08s ease-in;
         color:lightblue;
         margin-bottom: 0px;

       }
       h6{
         margin-top:0px;
       }
       color:#d2d6da

     }
   }
}
header{
  z-index: 100;
  a:link, a:visited{
    text-decoration: none;
    color: white;
  }
  a{
    transition: 0.6s;
    color:white;
  }
  a:hover{
    transition: 0.08s;
    color:blue;
  }
  height: 50px;
  width: 100vw;
  padding: 2vh 0 2vh 0;
  position:sticky;
  position:-webkit-sticky;

  top: 0px;

  background-color: #0d0e12;
  background: -webkit-linear-gradient(bottom , #0d0e12, #9a9a9a);
  nav{
    ul{
      display: flex;
      list-style: none;
      justify-content: space-around;
      li{
        text-align: center;
        border: 1px solid black;
        border: none;
        font-size: 1.6em;
        // width:8vw;
        height: 30px;
      }
    }
  }

}
span#aboutMeLink, span#whatIdoLink, span#experienceLink,span#educationLink,span#contactLink{display: block;
  width:100vw;
  height: 50px;
}
section#aboutMe{
  background-image: url("port.jpg");
   height: 850px;
  //  width:100vw;
   background-attachment: fixed;
   background-attachment:-webkit-fixed;

   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   padding-top: 100px;

  h1{
    text-align: center;
    color:white;
  }

  p{ margin:0 auto;
    text-align: center;
    width:50vw;
    color:#d2d6da
  }
}

section#whatIdoForYou{
  background-image: url("serve.jpg");
   height: inherit;
  //  width:100vw;
   background-attachment: fixed;
   background-attachment: -webkit-fixed;

   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  h1{
    width: 100%;
    text-align: center;
    color: white;
  }


  div{

    margin-top:40px;

    h1,h2,h6{
      text-align: center;
      color: white;
    }
    h2{
      font-size: 20px;
      font-weight: bold;
      color: #44c7f4;
    }
    h6{
      margin-bottom: 20px;
      color: white;

    }
    // position: relative;
    // top:60px;
    // display: inline-block;
    width:30vw;
    height: 500px;
    p{
      color:#d2d6da;
      text-align: center;
      margin-top: 20px;
    }
    i{
      font-size: 50px;
    }
  }
  div#div1{
    width: 20vw;

  }


}
section#education{
  background-image: url("back.jpg");
  //  height: 500px;
   width:100vw;
   background-attachment: fixed;
   background-attachment: -webkit-fixed;
   background-position: center;
   background-repeat: no-repeat ;
   background-size: cover ;

  br{
    width: 100%;
  }
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  h1{
    width: 100%;
    text-align: center;
    color:white;
  }
  div{
    opacity: 0.6;
    h2{
      color:#44c7f4;
    }
    color:white;
    padding-top: 60px;
    margin-top: 20px;
    width:30vw;
    background-color:transparent;
    height: 500px;
    img{
      width:10vw;
      height: 10vw;
      // border-radius: 50%;
      margin: 2px 10vw;
    }
    img#collegeImage{

    }
    h2{
      width: 100%;
      text-align: center;
    }
    p{
      text-align: center;
      font-size: 1.6em;
    }
  }
}

section#contact{
  background-image: url("contact.jpg");
   height: 1100px;
  //  width:100vw;
   background-attachment: fixed;
   background-attachment: -webkit-fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  //  padding-left: 10px;

  h1{
    text-align: center;
    color: white;

  }
  div#form{
    padding-left: 10px;
    label{
      color:white;
    }
    div#textfield {
      width:40vw;
    }
    float: left;
    margin-left: 4px;
    width: 50vw;
    h6{
      text-align: center;
      color:#44c7f4;
    }
    input[type="text"]{
      color:white;
    }
    // margin:0 auto;
    textarea{
      // background-color: black;
      width:40vw;
      height:30vh;
      color: white;
    }

  }
  div#contactDetails{
    padding-left: 10px;

    a:link,a:visited{
      text-decoration: none;
      color: white;
    }
    a{
      transition: 0.6s ease-in;
      color:white;
    }
    a:hover{
      transition: 0.08s ease-in;
      color:lightblue;
    }

    width:46vw;
    margin-right: 4px;
    // height:500px;
    // border: 1px solid black;
    float:right;

  }

  p{
    color:white;
    font-size: 30px;
  }
  p#social{
    width: 100%;
    text-align: center;
    font-size: 6em;
  }


}

row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 200;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  z-index: 200;
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  height: 100%;
  width:100%;
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


div.modal2, div.modal1{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    div.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}



  .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }




}


@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}



@media (max-width: 740px) {
  // *{
  //   overflow-x: hidden;
  // }
  h1{
    font-size: 8vw;
  }
  header{
    position: sticky;
    top: 0px;

  }

  section#education,section#experience ,section#contact, section#whatIdoForYou, section#aboutMe, section#banner{

      // background-size: 50%;
      background-attachment: scroll;
      background-position: top;
      background-size: covex2r;
  }
  section#experience{
  flex-direction: column;
  justify-content: center;
  div{
    width:100vw;
    margin: 0;
    // height: 400px;
  }
}
  section#whatIdoForYou{
    flex-direction: column;
    justify-content: center;
    div{
      width:100vw;
      margin: 0;
      height: 400px;
    }
    div#div1{
      width: 100vw;

    }
  }
  div#intro{
    flex-direction: column;
    img{
      width:30vw;
      height:30vw;
    }
  }
  section#banner div#intro q{
    width:80vw;
    font-size: 6vw;
  }
  header a{
    font-size: 4vw;
  }
  section#contact{
    div#form, div#contactDetails{
      i{
        font-size: 40px;
      }
      p{
        font-size: 30px;
        text-align: left;
      }
      width:100vw;
      margin:30px auto;
      float: none;
    }

  }
  section#education{
    flex-direction: column;
    div{
      width: 100vw;
      height:400px;
      margin-top: 40px;
      // margin-bottom: 30px;
      img{
        width:16vw;
        height: 16vw;
        margin: 0 42vw;
      }
    }
  }

}
